*pyc*
.snakemake
.pytest_cache
sistr_control.csv
SISTR_LIMS.xlsx
Snakefile.sistr
input_sistr.txt
sistr.csv
config_sistr.yaml
sistr_out*
.DS_Store
.vscode
.Rproj.user
*Rproj
salmonella_typing/validation/limitOfDetection/data
salmonella_typing/validation/limitOfDetection/templates/lod_report*
.Rhistory
lod_mm136.xlsx
.vagrant
*.simg
.vscode
*MAC194*